html:hover {
  background-color: #AAB3AB;
  -webkit-transition: background-color 10s ease-out;
  -moz-transition: background-color 10s ease-out;
  -o-transition: background-color 10s ease-out;
  transition: background-color 10s ease-out;
}

input[type=text] {
  font-size: 17px;
  padding: 3px;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  background-color: #4E9AF8;
  color: black;
  border: none;
}

button {
  font-size: 17px;	
  border: none;
  color: black;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.adicionar {
  background-color: #4CAF50;
}

.remover {
  background-color: #f44336;
}

canvas {
  background-color: #FFFFFF;
}

html {
  font-family: Arial;
  font-size: 18px;
  background-color: #c7d1c8;
}

.legenda {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.azul {
  background: #4E9AF8;
}

.amarelo {
  background: #FFC300;
}

.roxo {
  background: #571845;
}

.vinho {
  background: #900C3E;
}

.laranja {
  background: #FF5733;
}

.preto {
  background: #000000;
}
